%ul{:class=>'media-list'}
	-@users.each do |t|
		%li{:class=>'media'}
			.media-left
				
				%a{:href => "/profile/#{t.id}"}
					%img{:src => "#{t.image}?type=large",:style=>'width: 100px; height: 100px;' ,:class => "img-circle"}/
			.media-body
				%span{:class=>'badge bagde-online'} Online
				%h4{:class=>'media-heading'}= t.name
		
				.rank
					Rank:
					%i{:class=>"fa fa-star"}
					%i{:class=>"fa fa-star"}
					%i{:class=>"fa fa-star"}
					%i{:class=>"fa fa-star-half-o"}
					%i{:class=>"fa fa-star-o"}
					%span{:class=>'badge'}
						Teaches: Spanish
				%hr/
				%p
					Students Hello, I am a mathematician engineer and currently am dedicated to teaching Spanish.
