.jumbotron
	.container
		%h1 All The Teachers, All the Students, ONE PLACE
		%p I Want to Learn
		%p 
			%button{:class=>"btn btn-success btn-lg"} Suscribe Now!!

.container
	.row
		.col-md-12
			.text-center
				%h2 Find My Teacher

				%form{:action => "",:class=>'form-inline'}
					.form-group
						%label{:for => ""} Teachers Within
						= select(:email, :status, options_for_select([["5 KM", "1"], ["10 KM", "2"], ["25 KM", "3"]]))
					.form-group
						%label{:for => ""} Of
						= select(:email, :status, options_for_select([["Santiago", "1"], ["Providencia", "2"], ["Las Condes", "3"]]))

	%br/
	.row
		.col-md-6.col-md-offset-3
			.panel.panel-success
				.panel-body= render("lt")