.container{:class=>"well"}
	.page-header
		%h1 
			Language
			%small I Want to Learn
	.row
		.col-md-12
		

			.col-md-5
				%h5 Where
				
				%form{:action => "",:class=>'form-inline'}
					.form-group
						%label{:for => ""}Teachers Within
						= select(:email, :status, options_for_select([["5 KM", "1"], ["10 KM", "2"], ["25 KM", "3"]]))
					.form-group
						%label{:for => ""} Of
						%input{:type => "text",:placeholder=>"You Address" ,:class=>'form-control'}/
				%div{:style=>'width:100%;height:335px;',:id=>'map'}
				%hr/
				%h5 When
				%lead My Schedule
			.col-md-7
				%h5 Filters
				%hr/
				= render "lt"


%script{:src=>'http://maps.googleapis.com/maps/api/js'}.
%script{:src=>'/js/marker.js'}
:javascript
	function initialize() {
		var center = new google.maps.LatLng(-33.4164703, -70.6028477);

		var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 13,
		center: center,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var markers = [];
	
		var latLng = new google.maps.LatLng(-33.4164703,-70.6028477);
		var marker = new google.maps.Marker({
			position: latLng
		});
		markers.push(marker);

		var latLng = new google.maps.LatLng(-33.4164342,-70.602959);
		var marker = new google.maps.Marker({
			position: latLng
		});
		markers.push(marker);
		
		var latLng = new google.maps.LatLng(-33.411901,-70.577908);
		var marker = new google.maps.Marker({
			position: latLng
		});
		markers.push(marker);

		var latLng = new google.maps.LatLng(-33.418145,-70.601353);
		var marker = new google.maps.Marker({
			position: latLng
		});
		markers.push(marker);


		var markerCluster = new MarkerClusterer(map, markers);
	}
	google.maps.event.addDomListener(window, 'load', initialize);

			