.jumbotron
	.container
		%h1 User Login
		%p you can login with
		
		%a{:class=>"btn btn-primary btn-facebook", :href => "/users/auth/facebook"}
			%i{:class=>"fa fa-facebook-square fa-3x"}
			Login Con Facebook
		%a{:class=>"btn btn-primary btn-twitter", :href => "/users/auth/twitter"}
			%i{:class=>"fa fa-twitter-square fa-3x"}
			Login Con Twitter