.navbar {
  margin-bottom: 0px;
}
.jumbotron {
	background-image: image-url("bg.jpg");
	background-size: cover;
	text-align: center;
	color: white;
}
.jumbotron h1 {
	color: white;
}

select, select.form-control {
	padding-left:5px;
	padding-right: 5px;
}
.badge.bagde-online {
	background-color: green;
    position: absolute;
    right: 30px;
}
.badge.bagde-offline {

    position: absolute;
    right: 30px;
}

.media-body p {
    margin: 0px;
}
.media-body .media-heading {
margin-top: 0;
margin-bottom: 0px;
}

.media-body  hr {
margin-top: 3px;
margin-bottom: 3px;
border: 0;
border-top: 1px solid #eeeeee;
}
.media-body .rank {
    margin: 0px;
}
