// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
	top:-150px;
	position: relative;

	.container {
		-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.75);
		padding: 0px;
		background-color: white;

		.well {
			
			border-bottom: solid 1px #DDDDDD;
		}
		.img {
			top:-120px;
			position: relative;
			
			margin-right:25px;
			
		}
	}
}
