.jumbotron
	%br/
	%br/
	%br/



.profile
	.container
		.col-md-12{:class=>'well'}
			.col-md-6.col-md-offset-3
				%h3= @user.name

		.col-md-12
			.col-md-3
				
				%ul{:class=>'list-group img'}
					%li{:class=>'list-group-item text-center'} 
						%img{:src => "#{@user.image}?type=large" ,:class => "img-responsive img-rounded"}/
					%li{:class=>'list-group-item'}
						%span{:class=>'badge'}
						Teaches: Spanish
					%li{:class=>'list-group-item'}
						.rank
							Rank:
							%i{:class=>"fa fa-star"}
							%i{:class=>"fa fa-star"}
							%i{:class=>"fa fa-star"}
							%i{:class=>"fa fa-star-half-o"}
							%i{:class=>"fa fa-star-o"}
					%li{:class=>'list-group-item'}
						%div{:style=>'width:100%;height:200px;',:id=>'map'}
					%li{:class=>'list-group-item'}
						%button{:class=>"form-control btn btn-success btn-lg"} Teach Me!!

			.col-md-9{:class=>'well'}
				%p %div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus maxime eaque consequatur dolorum error inventore, assumenda atque voluptatum at, soluta consequuntur accusamus aperiam beatae, animi, rerum. Quia voluptates pariatur voluptatem.
				%div Magnam et expedita distinctio qui earum eveniet accusamus maxime incidunt quis, eaque perspiciatis, laudantium cum! Ex itaque quasi, dolore obcaecati, voluptates quisquam, voluptatem debitis rerum sit, est modi consequuntur animi.
				%div Accusantium debitis vero cum fuga aliquam enim quo asperiores veniam tenetur quis, earum. Aut, sunt commodi saepe repudiandae dolorum tempora placeat nostrum ipsum minus, earum quam vel, corrupti dolore a?
				%div Dignissimos error numquam omnis obcaecati fugit quisquam architecto voluptas totam! Perferendis nam, porro tempore distinctio, consectetur quas, magnam possimus, odit nulla doloremque sit nobis consequatur provident odio temporibus sint est.
				%div Quos, molestias, minus totam voluptatibus consequatur ut quibusdam a, modi cupiditate nostrum expedita nam repudiandae voluptates maxime perferendis. Molestias rem incidunt nihil minima, nemo amet suscipit voluptatum consequuntur ullam tempore.
				%div Similique alias doloribus, quasi possimus dicta cumque nulla rerum dolores consectetur praesentium quos earum ipsum mollitia quia unde pariatur ratione quo corporis illum voluptatum ullam sequi cupiditate. Iste, soluta, commodi!
				%div In rerum accusamus neque beatae officiis pariatur sapiente quod numquam quo dolore, quis eveniet ducimus, tempore deserunt laborum repudiandae voluptas? Pariatur, voluptates eos! Minus aperiam dolore rerum quisquam nulla. Culpa!
				%div Corporis, rem hic magnam odio explicabo sit, cupiditate nihil voluptatum error, illo molestiae recusandae blanditiis adipisci dolorum qui ex perferendis assumenda id ut alias! Culpa, rerum hic eaque perferendis ullam.
				%div Ratione vitae odio quo sapiente quis, quas alias error iste et eveniet, cupiditate corrupti eius voluptatem dignissimos consequatur quaerat perspiciatis commodi nam a. Facilis, dolor. Ipsam iure, a qui nisi.
				%div Similique distinctio autem architecto sequi, fuga optio eius voluptate dicta, quod alias harum maxime! Optio tenetur aperiam natus quibusdam fugiat non similique, distinctio, quis eaque fugit officia consectetur, error tempore.
			



%script{:src=>'http://maps.googleapis.com/maps/api/js'}.
%script{:src=>'/js/marker.js'}
:javascript
	function initialize() {
		var center = new google.maps.LatLng(-33.4164703, -70.6028477);

		var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 13,
		center: center,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var markers = [];
	
		var latLng = new google.maps.LatLng(-33.4164703,-70.6028477);
		var marker = new google.maps.Marker({
			position: latLng
		});
		markers.push(marker);

		var latLng = new google.maps.LatLng(-33.4164342,-70.602959);
		var marker = new google.maps.Marker({
			position: latLng
		});
		markers.push(marker);
		
		var latLng = new google.maps.LatLng(-33.411901,-70.577908);
		var marker = new google.maps.Marker({
			position: latLng
		});
		markers.push(marker);

		var latLng = new google.maps.LatLng(-33.418145,-70.601353);
		var marker = new google.maps.Marker({
			position: latLng
		});
		markers.push(marker);


		var markerCluster = new MarkerClusterer(map, markers);
	}
	google.maps.event.addDomListener(window, 'load', initialize);

			