.jumbotron
	.container
		%h1 What do you do?
		%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor totam hic, quas praesentium porro fugit perferendis laudantium, doloribus obcaecati neque reprehenderit, temporibus facilis! Officia provident incidunt non fuga nulla?
		%p 
			%a{:class=>"btn btn-success btn-lg",:href=>"/prof/1"} Student
			or
			%a{:class=>"btn btn-info btn-lg",:href=>"/prof/2"} Teacher

		%h3= current_user.tipo

