<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Nice to teach you</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding-top: 3px;" href="/">
            <img src="/images/logo.jpg" alt="Nice to teach you" height="60px">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <%= nav_link 'Home', root_path %>
            <%= nav_link 'Search', search_path %>
             <%= nav_link 'about', "///" %>
            <%= nav_link 'contact', "///" %>
 
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if(user_signed_in?) %>
              <li >
              <a href="" style="padding-top: 10px;padding-bottom: 15px;"><img src="<%= current_user.image %>" class="img-circle" style="height: 40px;"></a></li>
            <% else %>
              <li class="active"><%= link_to "Login", new_user_session_path%></li>
            <% end  %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  
  <%=yield %>



  </body>
</html>
